body {
	font-family: 'Ruda', sans-serif;
	background-color: #1ca1c8;
	color: white;
}

.content {
	max-width: 600px; 
	margin: 5px auto; 
	padding: 15px;
	background-color: 
}

.header {
	text-align: center;
}
.header img {
	width: 75%;
}
.header h1 {
	margin-bottom: 0px;
}
.header p {
	margin-top: 5px;
}
.clear {
	clear: both;
}

.warning {
	color: black;
	background-color: white;
	border: 3px solid #FFC300;
}

.difficulty button {
	padding: 8px 15px;
	font-size: 38px;
	font-family: 'Amatic SC', cursive;
	background-color: transparent;
	border: 0;
	opacity: 0.8;
	color: white;
}
.difficulty button:hover {
	opacity: 1;
	font-size: 45px;
	padding: 0 12px;
	cursor: pointer;
	font-weight: bold;
}

.difficulty button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}


.question {
	display: none;
}

.question {
	width: 100%;
	margin: 0 auto;
}

.title {
	text-align: center;
}

.question .answers, .question .info {
	margin: 0 50px;
}

.status {
	text-align: center;
	padding: 20px;
}

.results {
	display:none; 
	text-align: center;
	padding: 20px;
}

.quiz {
	display: none;
	background-color: white;
	width: 90%;
	margin: 0 auto;
	background-color: white;
	color: black;
	padding: 10px;
	border-style: solid;
	border-width: 14px;
	border-image: url(border.png) 14;
	box-shadow: 1px 2px 6px black;
}

.next {
	cursor: pointer;
	display: block;
	color: #1ca1c8;
	width: 100%;
	text-align: center;
	padding: 8px 0;
	font-size: 38px;
	font-family: 'Amatic SC', cursive;
	background-color: transparent;
}